openwisp-users @ https://github.com/sachinspanidea8484/openwisp-users-spanidea/tarball/main
openwisp-utils[rest,celery,channels] @ https://github.com/sachinspanidea8484/openwisp-utils-spanidea/tarball/main
markdown~=3.8.2
jsonfield>=2.1.0
